<p id="notice"><%= notice %></p>

<p>
  <strong>Github username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Public repos:</strong>
  <%= @user.public_repos %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @user.followers %>
</p>

<p>
  <strong>Following:</strong>
  <%= @user.following %>
</p>

<p>
  <img src="<%= @user.profile_pic %>">
</p>

<p>
  <strong>Github url:</strong>
  <%= @user.github_url %>
</p>


<ul>
  <% @user.repos_array.each do |repo| %>
    <li><%= repo %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
